{% extends "partials/base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="site-container">

  <section>
    <h1 class="lang" data-info="titleIndex"></h1>
    <p class="lang" data-info="indexDescription"></p>
    <img class="lang" src="" data-info="index-img1">
    <img class="lang" src="" data-info="index-img2">
  </section>
</section>

{% endblock %}